extends layout

block content
  h1 #{title}
  ul
    each article, i in articles
      li
        ul
          li= article.id
          li= article.title
          li= article.author
          li= article.body
